#catalog {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#catalogContainer {
    height: 80%;
    width: 90%;
}

#catalogContainer h2 {
    height: 60px;
    font-size: 40px;
}

#table {
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 40px;
    width: 293px;
    background-color: #00548c51;
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;

}

td {
    height: 40px;
    width: 293px;
    border: 1px solid black;
    padding-left: 10px;
}

td a {
    color: black;
}

.icons {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.fa-trash:hover {
    color: red;
    cursor: pointer;
}

.fa-pen-to-square:hover {
    color: green;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

@media only screen and (max-width: 900px) {
    #catalog {
        height: 80vh;
    }

    th, td {
        width: 169px;
    }
}

@media only screen and (max-width: 450px) {
    #catalog h2 {
        font-size: 30px;
    }

    th {
        width: 74px;
        font-size: 15px;
        padding-left: 5px;

    }

    td {
        width: 74px;
        padding-left: 5px;
    }

    .icons {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}